<mat-card class="full">
  <mat-card-title class="title">
    <h2 class="tab-title">Tell me how</h2>
  </mat-card-title>
  <mat-card-content>
    <ol>
      <li>We come to you, ask questions, talk to users, and identify the key need.</li>
      <li>We paper prototype a solution and iterate with you until you’re happy with it.</li>
      <li>We build the prototype with high fidelity design in real code, with mock data.</li>
    </ol>
    <h3>What comes next?</h3>
    <p>If you like, we will work with your RFP team (or help you find one), to prepare an RFP spec based on what we’ve built. At that point we can either step away and let you take it from there, or help you evaluate bidders, its up to you.</p>
    <h3>Wait, you don’t want to bid?</h3>
    <p> No, that’s not what we do. We make prototypes to help customers clarify a problem and solution, get buy in from leadership, and narrow the field to get the vendor they need. We don’t want to create your finished product, because of that you can trust us not to lobby for one vendor or technology stack.</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-chip color="primary">Get Started</mat-chip>
  </mat-card-actions>
</mat-card>