<mat-card class="full">
  <mat-card-title class="title">
    <h2 class="tab-title">Tell me why</h2>
  </mat-card-title>
  <mat-card-content>
    <p>You could have a vendor create a POC, but you can guarantee that everything about that POC is going to be geared towards channeling the job towards the tools, processes, technologies, and budget, that suits the vendor. Or you could work with us to identify the user and business problems and solve them without any of that baggage.</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-chip color="primary">Get Started</mat-chip>
  </mat-card-actions>
</mat-card>