<mat-card class="full">
	<mat-card-title class="title">
	  <h1 class="tab-title">Welcome to Scrappyard</h1>
	  <h2>Rapid prototyping for the enterprise.</h2>
	</mat-card-title>
	<mat-card-content>
	  Enterprise and SMBs are working to solve business problems that require an internal or external facing application. When product managers are in a ‘build or buy’ discussion, even before a decision has been made to build wouldn’t it be great to be able to actually see the thing you are going to build as a functional prototype?
	</mat-card-content>
	<mat-card-actions>
	  <mat-chip-list>
	    <mat-chip color="primary">Get Started</mat-chip>
	  </mat-chip-list>
	</mat-card-actions>
</mat-card>